.gameBoard {
  display: grid;
  grid-template-columns: repeat(var(--board-tile-count), 1fr);
  gap: var(--board-tile-gap);
  position: relative;
  min-width: min-content;
  min-height: min-content;
  aspect-ratio: 1;
}

.gameBoard,
.chips {
  max-width: var(--board-vertical-height-constrainer);
}

.gameBoardBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: transparent;
  background-image: radial-gradient(
    var(--board-unknown-background-color)
      round(nearest, clamp(4px, calc((var(--board-tile-gap) / 2)), 4px), 2px),
    transparent 0
  );
  opacity: 0.9;
  background-size: calc(100% / 6) calc(100% / 6);
  background-position: 50%;
  padding: calc(((var(--board-tile-gap)) / 2));
  margin: calc(-1 * ((var(--board-tile-gap)) / 2));
  clip-path: inset(calc(100% / 6 / 2));
  min-width: 100%;
  min-height: 100%;
}

.debug {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    padding: 1rem;
    width: 5rem;
    height: 5rem;
  }
  gap: 1rem;
}
[data-popover-tp] {
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9999;
  width: 100%;
}
.overlay {
  z-index: 9999;
  padding: 0.5rem;
  border-radius: 5px;
  --tile-min-size: 5rem;
  --tile-max-size: 5rem;
  --board-tile-gap: 0.5rem;
  &:focus {
    outline: none;
  }

  &,
  .message {
    max-width: calc(100vw - 4rem);
    max-height: calc(50vh - 1rem);
    width: max-content;
  }
  &,
  > .arrow {
    background-color: antiquewhite;
    border-color: antiquewhite;
    color: #000;
  }

  .buttons {
    max-width: calc(var(--board-tile-gap) * 2 + var(--tile-max-size) * 3);
    display: flex;
    flex-wrap: wrap;
    gap: var(--board-tile-gap);

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .message {
    overflow-y: auto;
  }

  &.top,
  &.bottom {
    .buttons {
      flex-direction: row;
    }
  }

  &.left,
  &.right {
    .buttons {
      flex-direction: column;
    }
  }

  > .arrow {
    --arrow-size: 15px;
    --arrow-half-size: calc(var(--arrow-size) / 2 * -1);
    position: absolute;
    width: var(--arrow-size);
    height: var(--arrow-size);
    transform: rotate(45deg);

    &.bottom {
      top: var(--arrow-half-size);
    }
    &.top {
      bottom: var(--arrow-half-size);
    }
    &.right {
      left: var(--arrow-half-size);
    }
    &.left {
      right: var(--arrow-half-size);
    }
  }
}

.game-tile-backdrop {
  --tile-min-size: 5rem;
  --tile-max-size: 5rem;
  --board-tile-gap: 0.5rem;

  display: inline-block;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: var(--page-background-color);
  width: auto;
}

.game-tiles {
  display: flex;
  flex-wrap: wrap;
  margin: var(--board-tile-gap) 0;
  gap: var(--board-tile-gap);
}
