main {
  display: grid;
  grid-template-columns: repeat(var(--board-tile-count), 1fr);
  gap: var(--board-tile-gap);

  &.focusTile .tile:not(.focused) {
    opacity: 0.7;

    &.suggestion {
      opacity: calc(0.7 * 0.5);
    }
    &.smartFill {
      opacity: calc(0.7 * 0.95);
    }
  }
}

main.gameBoard {
  max-height: 80vh;
  aspect-ratio: 1;
}

.debug {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    padding: 1rem;
    width: 5rem;
    height: 5rem;
  }
  gap: 1rem;
}
.overlay {
  z-index: 9999;
  &,
  .message {
    max-width: calc(100vw - 4rem);
    max-height: calc(50vh - 1rem);
  }
  padding: 0.5rem;
  border-radius: 5px;
  --tile-min-size: 5rem;
  --tile-max-size: 5rem;
  --board-tile-gap: 0.5rem;
  &,
  > .arrow {
    background-color: antiquewhite;
    border-color: antiquewhite;
    color: #000;
  }

  .buttons {
    max-width: calc(var(--board-tile-gap) * 2 + var(--tile-max-size) * 3);
    display: flex;
    flex-wrap: wrap;
    gap: var(--board-tile-gap);

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .message {
    overflow-y: auto;
  }

  /* --tile-max-size * 3 + --board-tile-gap * 2 */
  @media (width < 18rem) {
  }

  .game-tile-backdrop {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: var(--page-background-color);
    width: auto;
  }

  // > .buttons {
  //   display: flex;
  //   // grid-auto-columns: minmax(0, 1fr);
  //   // grid-auto-flow: column;
  //   gap: 0.5rem;
  //   // Render the buttons over the arrow
  //   position: relative;
  //   justify-content: center;
  //   align-items: center;

  //   &:not(:last-child) {
  //     margin-bottom: 0.5rem;
  //   }
  // }

  &.top,
  &.bottom {
    .buttons {
      flex-direction: row;
    }
  }

  &.left,
  &.right {
    .buttons {
      flex-direction: column;
    }
  }

  > .arrow {
    --arrow-size: 15px;
    --arrow-half-size: calc(var(--arrow-size) / 2 * -1);
    position: absolute;
    width: var(--arrow-size);
    height: var(--arrow-size);
    transform: rotate(45deg);

    &.bottom {
      top: var(--arrow-half-size);
    }
    &.top {
      bottom: var(--arrow-half-size);
    }
    &.right {
      left: var(--arrow-half-size);
    }
    &.left {
      right: var(--arrow-half-size);
    }
  }
}
