:root {
  --font-color: hsl(0, 0%, 96%);
  --muted-font-color: hsl(0, 0%, 82%);
  --page-background-color: hsl(30, 20%, 4%);

  --board-unknown-color: var(--font-color);
  --board-unknown-background-color: hsl(40, 20%, 21%);

  --board-empty-color: hsl(39, 18%, 35%);
  --board-empty-background-color: var(--board-unknown-background-color);

  --board-blocked-color: hsl(0, 0%, 35%);
  --board-blocked-background-color: hsl(0, 0%, 21%);

  --board-sword-color: var(--font-color);
  --board-sword-background-color: #2b4f8a;

  --board-sword-suggestion-color: #1b2c49;
  --board-sword-suggestion-background-color: var(--board-sword-background-color);

  --board-present-color: var(--font-color);
  --board-present-background-color: #89302d;

  --board-present-suggestion-color: 

  --board-fox-color: var(--font-color);
  --board-fox-background-color: #795720;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--font-color);
  background-color: var(--page-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.Blocked, .SmartFillBlocked {
  --tile-color: var(--board-blocked-color);
  --tile-background-color: var(--board-blocked-background-color);
  color: var(--board-blocked-color);
  background-color: var(--board-blocked-background-color);
  rect {
    fill: var(--tile-background-color);
  }
}
.Sword, .SmartFillSword, .SuggestSword {
  --tile-color: var(--board-sword-color);
  --tile-background-color: var(--board-sword-background-color);
  color: var(--board-sword-color);
  background-color: var(--tile-background-color);
}
.Present, .SmartFillPresent, .SuggestPresent {
  --tile-color: var(--board-present-color);
  --tile-background-color: var(--board-present-background-color);
  color: var(--board-present-color);
  background-color: var(--tile-background-color);
}
.Fox, .SuggestFox {
  --tile-color: var(--board-fox-color);
  --tile-background-color: var(--board-fox-background-color);
  color: var(--board-fox-color);
  background-color: var(--tile-background-color);
}

.Empty {
  --tile-color: var(--board-empty-color);
  --tile-background-color: var(--board-empty-background-color);
  color: var(--board-empty-color);
  background-color: var(--tile-background-color);
}

.Unknown {
  --tile-color: var(--board-unknown-color);
  --tile-background-color: var(--board-unknown-background-color);
  color: var(--tile-color);
  background-color: var(--tile-background-color);
}

.SuggestSword, .SuggestPresent, .SuggestFox {
  svg:not(.suggestionIndicator) {
    color: var(--tile-background-color);
    filter: brightness(50%)
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: outline-color 0.25s;
  outline: 0;
}
button:hover {
  filter: brightness(140%);
  opacity: 1 !important;
}
button:focus,
button:focus-visible {
  outline: 2px solid var(--font-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
